.lead {
	display: grid;
	padding: 56px 0 0;
	margin: 0 auto;
	grid-template-columns: minmax(320px, 984px);
	grid-template-rows: auto;
	max-width: 984px;
}

@media screen and (max-width: 1024px) {
	.lead {
		max-width: 928px;
		padding: 48px 0 0;
	}
}

@media screen and (max-width: 768px) {
	.lead {
		padding: 48px 0 0;
	}
}