.lead__subtitle {
	font-style: normal;
	font-weight: 400;
	font-size: 1.875rem;
	line-height: 120%;
	text-align: center;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	padding: 32px 0 0;
}

@media screen and (max-width: 767px) {
	.lead__subtitle {
		font-size: 5vw;
	}
}

@media screen and (max-width: 320px) {
	.lead__subtitle {
		font-size: 1rem;
		line-height: 115%;
		padding-top: 16px;
	}
}