.place {
	margin: 0 auto;
	padding: 92px 0 0;
	display: grid;
	grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
	gap: 40px;
	max-width: 984px;

}

@media screen and (max-width: 1024px) {
	.place {
		grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
		gap: 32px;
		padding: 92px 48px 0;
	}

	.place:nth-child(n+2) {
		padding-top: 80px;
	}
}

@media screen and (max-width: 768px) {
	.place {
		grid-template-columns: minmax(320px, 340px) minmax(288px, 352px);
		padding: 88px 24px 0;
		gap: 28px;
	}

	.place:nth-child(n+2) {
		padding-top: 80px;
	}
}

@media screen and (max-width: 665px) {
	.place {
		grid-template-columns: minmax(320px, 600px);
		gap: 32px;
		padding: 64px 40px 0;
	}
	.place:nth-child(n+2) {
		gap: 32px;
		padding-top: 50px;
	}

}

@media screen and (max-width: 665px) {
	.place {
		padding: 64px 10px 0;
	}

}

@media screen and (max-width: 320px) {
	.place {
		grid-template-columns: 320px;
		gap: 32px;
		padding: 64px 0 0;
	}
	.place:nth-child(n+2) {
		gap: 32px;
		padding-top: 50px;
	}

}